<h1> Bulk Discount Show page </h1>

<section class="bulk_discounts_show">
  <ul>
    <li> Discount: <%= @bulk_discount.percentage_discount %>% </li>
    <li> Off: <%= @bulk_discount.threshold %> Items</li>
  </ul>