<h1>Create New Merchant</h1>

<%= render partial: 'form', locals: {
                                      path: [:admin],
                                      method: :post,
                                      button_text: 'Submit'
																		} %>