<h1>Create an Item for <%= @merchant.name %></h1>

<%= render partial: '/items/form', locals: {
                                      path: "/merchants/#{@merchant.id}/items/create",
                                      method: :post,
                                      button_text: 'Create Item'
																		} %>