<h1>Update <%= @item.name %></h1>

<%= render partial: 'form', locals: {
                                      path: "/items/#{@item.id}",
                                      method: :patch,
                                      button_text: 'Update Item'
																		} %>
